@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.active hr {
    @apply block;
}

::-webkit-scrollbar {
    @apply hidden;
}

* {
    font-feature-settings: "zero" 0; /* disables slashed zero */
    scroll-behavior: smooth;
    font-family: 'Atkinson Hyperlegible Next', sans-serif;
}


@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .animate-blink {
    animation: blink 1s infinite;
  }
  

  @media(max-width:740px){
    .active p{
        @apply text-white bg-primary px-5 py-3 rounded-lg
    }
  }